/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-container {
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  min-width: 70vw;
}
.heading {
  color: #ff8542;
  text-align: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.list-items-style {
  display: flex;
  flex-direction: column;
}
